$banner-section:#FAFAFA;
$font-martel: 'Martel', serif;
$primary-color:#252B42;
$second-text:#737373;
$secondary-color:#784F33;
$color-white:white;
$font: 'Martel', serif;
$font-open: 'Open Sans', sans-serif;