%btn{
    max-width: 250px;
    height: 48px;
    border-radius: 37px;
    color:$color-white;
    background-color: $secondary-color;
    font-family: $font-open;
    font-weight: 700;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 0 50px ;
}