* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.image-section {
  background-image: url("./image/image\ 3.svg");
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}

.header {
  padding: 50px 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: flex;
  column-gap: 50px;
}
.header nav ul li a {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.header .fa-solid {
  display: none;
}
.header .icon {
  display: flex;
  column-gap: 10px;
}
.hero {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .content {
  max-width: 834px;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: white;
}
.hero .text {
  text-align: center;
  max-width: 574px;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: white;
  margin: 30px 0;
}
.input-btn {
  display: inline-block;
  position: relative;
}
.input-btn input {
  border: 2px solid white;
  padding: 0 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  outline: none;
  height: 60px;
  width: 360px;
}
.input-btn img {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}
::placeholder {
  font-size: 18px;
  color: white;
}
.banner {
  padding: 50px 0;
  display: flex;
}
.banner .box {
  border: 1px solid transparent;
  width: 25%;
  margin: 0 10px;
}
#banner .choosing-text {
  font-size: 36px;
  font-weight: 500;
  margin-top: 50px;
}
.banner .content {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.banner .text {
  font-size: 18px;
}
.banner .info {
  margin-top: 30px;
  color: rgba(247, 148, 137, 1);
  font-size: 18px;
}
.box:hover {
  border: 1px solid rgba(247, 148, 137, 1);
  box-shadow: 3px 2px 5px palevioletred;
  border-radius: 10px;
}
.next {gap: 30px;
  width: 100%;
  display: flex;
}
.next .left {
  width: 50%;
}
.left h1 { color: #564e4e;
  font-size: 36px;
  font-weight: 500;
}
.left .content {margin: 20px 0;
  font-size: 18px;
  color: #564e4e;
}
.left ul{
  
}
.left ul li {margin: 30px 0;
  color: #564e4e;
  font-size: 18px;
}
.left .text{ margin: 20px 0;
font-weight: 300;
line-height: 36px;
}
.pink-text{
  color:#F79489 ;
font-size: 18px;
}
.next .right {
  width: 50%;
}
.right img{height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}
@media screen and (max-width: 767px) {
  .black-section {
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5);
  }
  nav {
    display: none;
  }
  .header .fa-solid {
    display: block;
    color: white;
    font-size: 30px;
  }
  .hero {
    padding-top: 80px;
  }
  .hero .text {
    max-width: 420px;
  }
  .hero .content {
    max-width: 600px;
    font-size: 35px;
    line-height: 50px;
  }

  .banner {
    flex-direction: column;
    row-gap: 20px;
  }
  .banner .box {
    width: 100%;
  }
}
