
#third {
    padding: 80px 0;
    .content {
      @include flex();
      flex-direction: column;
      gap: 20px;
  
      h2 {
        font-family: $font-martel;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        color: #252b42;
      }
      p {
        text-align: center;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #737373;
        max-width: 468px;
      }
    }
  
    .third {
      margin-top: 80px;
      @include flex();
      gap: 100px;
      .left {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .right {
        width: 50%;
        h2 {
          max-width: 321px;
          font-family: $font-martel;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          color: #252b42;
        }
        p {
          max-width: 306px;
          font-family: Open Sans;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: #737373;
          margin-top: 20px;
        }
        .image {
          margin: 20px 0;
        }
      }
      @media screen and (max-width: 767px) {
        flex-direction: column;
        .left {
          width: 100%;
        }
        .right {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  
  