* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table,
th,
td {
  border: 1px solid #008000;
  height: 50px;
  width: 41vw;
}
tbody tr:nth-child(odd) {
  background-color: aquamarine;
  color: #008000;
}

td{
    padding: 10px ;
}