* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* HEADER */
header {
  z-index: 1;
  background-color: #20484f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
header .header {
  height: 76px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.header nav ul {
  display: flex;
  column-gap: 25px;
}
.header nav ul a,
.header h1,
.header .fa-bars,
.login {
  color: white;
}
.header .fa-bars {
  display: none;
}
.header .click button {
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 85px;
  border: none;
  font-size: 16px;
}
.header .click .sign {
  background-color: #b8e4da;
}
.header .click .login {
  background-color: transparent;
}
.header h1,
.header nav ul a,
.sign,
.login {
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* HERO SECTION  */
.hero-section {
  margin-top: 76px;
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0;
}
.hero-section h1 {
  width: 600px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #072125;
}
.hero-section p {
  margin: 20px;
  width: 480px;
  text-align: center;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #20484f;
}
.hero-section .input-btn {
  position: relative;
  display: inline-block;
}
.hero-section .input-btn .email {
  height: 50px;
  width: 460px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 20px;
  padding: 20px;
}
.hero-section .input-btn .signup {
  border: none;
  background-color: #b8e4da;
  width: 100px;
  height: 48px;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 1px;
  bottom: 1px;
  cursor: pointer;
}
.email::placeholder {
  font-size: 16px;
  color: #b8e4da;
}
/* BANNER SECTION  */
#banner-section {
  padding: 20px 0;
  bottom: 5px;
  background-color: #20484f;
  position: relative;
}

.banner-section .design {
  margin: 50px 0;
  display: flex;
}
.banner-section h1,
.banner-section p,
.banner-section h5 {
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}
.banner-section p {
  padding: 0 10px;
}
.banner-section i {
  padding: 20px;
  border-radius: 10px;
  background-color: #ddf3ee;
  margin: 10px;
}
.banner-section h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.banner-section h5 {
  margin: 10px;
  font-size: 20px;
}
.image {
  width: 100%;
}
/* Sign UP SECTION */
.sign-up {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up h5 {
  color: #20484f;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.sign-up h1 {
  margin: 25px 0;
  width: 40%;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.sign-up button {
  border: none;
  background-color: #20484f;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}
.sign-up button:hover {
  border: 1px solid #20484f;
  background-color: transparent;
  color: #20484f;
  cursor: pointer;
}
/* BREND SECTION  */
#brend {
  width: 100%;
  border-bottom: 1px solid rgb(195, 191, 191);
  border-top: 1px solid rgb(195, 191, 191);
}
.brend {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brend .logo {
  align-items: center;
  justify-content: center;
}
.brend .logo img {
  width: 100px;
  margin: 15px;
}
.brend h4 {
  font-weight: 400;
  color: #20484f;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.brend .logo img:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* NEXT SECTION */
.next-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.next-section .content h1,
pre,
.name {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 30px 0 0 0;
}
.next-section .content pre,
.name,
.content h1 {
  color: rgb(21, 78, 78);
  text-align: center;
}
.content h1 {
  font-size: 30px;
}
.next-section .image {
  width: 60%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.next-section .content .image .name {
  margin: 0 20px 40px 20px;
}
.next-section .name:hover {
  opacity: 0.5;
}
/* FOOTER */
footer {
  background-color: #072125;
}
footer .footer {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
}
footer .our {
  display: flex;
  column-gap: 25px;
}
.footer ul a,
.footer h1,
.footer h2,
footer p {
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 300;
}
.footer .fa-brands {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  color: white;
}
.footer h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.footer h2 {
  margin-bottom: 10px;
}
footer p {
  text-align: center;
}
footer .LTD {
  border-top: 1px solid gray;
}
.footer .fa-brands:hover {
  font-size: 20px;
}
.footer ul a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .header .fa-bars {
    display: block;
  }
  .header nav,
  .header .click {
    display: none;
  }
  .hero-section h1 {
    width: 300px;
  }
  .hero-section p {
    width: 400px;
  }
  .banner-section .design {
    flex-wrap: wrap;
  }
  .banner-section .work {
    width: 50%;
  }
  footer .footer,
  footer .our {
    flex-direction: column;
    align-items: center;
  }
}
