footer {
  .footer {
    padding: 20px 0;
    .content-btn {
      @include flex(space-between);
      .footer-btn {
        @extend %btn;
        border-radius: 5px;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3 {
          font-family: $font-martel;
          font-size: 24px;
          font-weight: 700;
          color: $primary-color;
        }
        p {
          font-family: $font-open;
          font-size: 14px;
          font-weight: 400;
          color: $second-text;
        }
      }
    }
  }
  .navigation {
    padding: 20px 0;
    background: linear-gradient(270deg, #295c7a -1.04%, #0072b5 100%);
    .container {
      display: flex;
      nav {
        width: 20%;
        h5 {
          margin: 10px 0;
          font-family: $font-martel;
          font-size: 16px;
          font-weight: 700;
          color: $color-white;
        }
        ul {
          li {
            margin: 10px 0;

            a {
              font-family: $font-open;
              font-size: 14px;
              font-weight: 600;
              color: $color-white;
            }
            img {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
  .sosial-icon {
    padding: 20px 0;
    .container {
      @include flex(space-between);
      h6 {
        font-family: $font-open;
        font-size: 14px;
        font-weight: 700;
        color: $second-text;
      }
      .icon {
        display: flex;
        gap: 20px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .footer {
      .content-btn {
        flex-direction: column;
        gap: 20px;
        .text {
          h3 {
            max-width: 183px;
          }
          p {
            max-width: 170px;
          }
        }
      }
    }
    .navigation {
      .container {
        flex-direction: column;
        align-items: center;
        nav {
          width: 80%;
        }
      }
    }

    .sosial-icon {
      .container {
        flex-direction: column;
        gap: 20px;
        h6 {
          max-width: 200px;
        }
      }
    }
  }
}
