* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.green {
  color: green;
}
#container {
  display: flex;
  height: 80%;
  width: 100%;
  background-color: rgb(237, 241, 245);
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}
.container {
  height: 70%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.container p {
  margin: 10px;
  font-family: "Tilt Neon", sans-serif;
}
.container p i {
  margin: 8px;
}
#contact {
  background-color: white;
  border-radius: 10px;
  height: 60%;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-family: "Crete Round", serif;
  display: flex;
  justify-content: center;
  color: rgb(115, 22, 138);
  margin: 10px 0;
}
.form {
  background-color: rgb(237, 241, 245);
  border: none;
  width: 25vw;
  border-radius: 3px;
}
input {
  padding: 5px;
  margin: 10px 30px;
}
textarea {
  margin: 10px 30px 40px 30px;
  padding: 20px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 25px;
  width: 30vw;
  background-color: green;
  color: white;
  border-radius: 0 0 10px 10px;
}
 footer  {
  background-color: black;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot div {
  color: white;
  font-family: "Tilt Neon", sans-serif;
}
.foot div i {
  margin: 5px;
}