* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#head {
  background-image: url("./harry.jpg");
  color: white;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  color: red;
  list-style-type: none;
  margin: 20px;
  padding: 20px ;
  font-size: 20px;
  
  
}
#section1 {
  background-color: green;
  height: 90px;
}
#heading3 {
  color: yellow;
 font-size: 20px;
}
#div1 {
  color: blue;
  font-size: 20px;
}
#span1 {
  color: rgb(165, 108, 42);
}
#section2{
  background-color: green;
}
#heading1 {
  color: yellow;
  font-size: 30px;
}

#span2 {
  color: blue;
  font-size: 20px;
}
#span3 {
  color: rgb(165, 108, 42);
  font-size: 20px;
}
#section3{
  background-color: green;
  height: 100px;
  text-decoration: none;
}
#img1 {
  color: aqua;
}
#span4{
  color: rgb(228, 140, 26);
}
table,th,td{
   border-collapse: collapse;
  border: 1px solid blue;
}
#tbl{
    background-color: aqua;
    height: 100px;
    color: brown;
}
#label{ 
  background-color: rgb(116, 116, 197);
  margin:10px;
  padding: 10px;}
  .label1{
    border-radius: 20px;
  }
  .label1::placeholder{
    color: red;
  }
  #submit{
    color: white;
    background-color: teal;
    border: none;
  }
  #image1{
  background-color: pink;
  height: 150px;
  }
  #image2{
    background-color: pink;
    height: 150px;

  }
#img2{
  opacity: 0.5;
}