* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  background-image: url("./harry.jpg");
  color: white;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  color: red;
  list-style-type: none;
  
}
.section1 {
  background-color: green;
  height: 90px;
}
.heading3 {
  color: yellow;
  height: 30px;
}
.div1 {
  color: blue;
  height: 30px;
}
.span1 {
  color: rgb(165, 108, 42);
}
.section2{
  background-color: green;
}
.heading1 {
  color: yellow;
}

.span2 {
  color: blue;
}
.span3 {
  color: rgb(165, 108, 42);
}
.section3{
  background-color: green;
  height: 100px;
}
.img1 {
  color: aqua;
}
table,th,td{
   border-collapse: collapse;
  border: 1px solid blue;
}
#tbl{
    background-color: aqua;
    height: 100px;
}
#label{ 
  background-color: rgb(116, 116, 197);
  margin:10px;
  padding: 10px;}
  #image{
  background-color: pink;
  height: 300px;
  }