* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  flex-direction: column;
  background-color: brown;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxes {
  display: flex;
  gap: 20px;
}
.box {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1,
p {
  color: bisque;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin-bottom: 50px;
  font-weight: 900;
}
.icon {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: teal;
  transition: all 0.5s;
}
.icon:hover {
  transform: rotate(360deg);
  border-radius: 50%;
}
